<div class="span3" id="sidebar">
                    <ul class="nav nav-list bs-docs-sidenav nav-collapse collapse">
                        <li class="active">
                            <a href="/dashboard"><i class="icon-chevron-right"></i> Dashboard</a>
                        </li>
                        <li>
                            <a href="/category"><i class="icon-chevron-right"></i> Category</a>
                        </li>
                        <li>
                            <a href="/subcategory"><i class="icon-chevron-right"></i> Subcategory</a>
                        </li>
                        <li>
                            <a href="/imagelist"><i class="icon-chevron-right"></i> Product</a>
                        </li>
                        
                        
                    </ul>
                </div>